# Python punch nodes preconfigured during Jupypunch deployment

### Generate data to save

In [1]:
%%punch_source --type generator --name df -o
messages:
        - data: My first message
        - data: My second message
        - data: My third one

Data is available in df variable.

In [2]:
df.head(2)

                data
0   My first message
1  My second message

### ElasticSearch

##### Save to elasticsearch

In [3]:
%%punch_sink --type elasticsearch -df df
index:
    type: constant
    value: my-index

Data saved.

#####  Fetch data from elasticsearch

In [4]:
%%punch_source --type elasticsearch --name out -o
# Source settings
index: my-index

Data is available in out variable.

In [5]:
out.head(2)

                data    @timestamp
0   My first message  1.662715e+12
1  My second message  1.662715e+12

In [6]:
del out

### Kafka

##### Save to kafka

In [7]:
%%punch_sink --type kafka -df df
topic: my-topicbis

Data saved.

### File (local)

##### Save to a local file

In [8]:
%%punch_sink --type file -df df
path: df.csv

Data saved.

##### Recover data from a local file

In [9]:
%%punch_source --type file --name out -o
path: df.csv

Data is available in out variable.

In [10]:
out.head(2)

   Unnamed: 0               data
0         0.0   My first message
1         1.0  My second message

In [11]:
del out

### S3

##### Save to S3

In [12]:
%%punch_sink --type s3 -df df
bucket: default
path: subdirectory/df.csv

created subdirectory/df.csv object; bucket: default ; etag: "53785448eeb6dad3f5bca1df53788f98"
Data saved.

##### Recover data from s3

In [13]:
%%punch_source --type s3 --name out -o 
bucket: default
prefix: subdirectory/df.csv
encoding_format: csv

Data is available in out variable.

In [14]:
out.head(2)

   Unnamed: 0               data            _ppf_path  _ppf_last_modified
0           0   My first message  subdirectory/df.csv        1.666202e+09
1           1  My second message  subdirectory/df.csv        1.666202e+09

In [15]:
del out